<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661290148924-qej32fvgqmt24q61fcr1tvnhblritaiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661290148924-qej32fvgqmt24q61fcr1tvnhblritaiu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>661290148924-ajth80nu301lrr903vrceodjpmor12tt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDeRAuvjohAMtBFuzwZNZbxGcw8-R2Dlk</string>
	<key>GCM_SENDER_ID</key>
	<string>661290148924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.serviosoftware.pedaleacuenca</string>
	<key>PROJECT_ID</key>
	<string>pedalea-cuenca</string>
	<key>STORAGE_BUCKET</key>
	<string>pedalea-cuenca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661290148924:ios:bb6a8a9182ee70cca08f39</string>
</dict>
</plist>